.vertical_align {
    top: 50vh !important;
}

.page__background {
    background: url(back.jpg) no-repeat center center fixed; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    }